@import '../components/Shared/variables';

.indexPost {
  margin: 120px 0;
}

// comments form styling
.just-comments.myTheme {
  --primary-button-bg-color: #FF6C37;
  --primary-color: #FF6C37;
}

// This .post class is the horizontal 'card' for each post, displayed on index pages
.post {
  a {
    color: #282828;
  }
}

.post-body-container {
  // Giving h2's the h3 styling from _layout.scss
  h2 {
    font-size:0;
    line-height: 0;
    margin:0;
    span {
    font-size: 36px!important;
    line-height: 1.2222222222; /* 44px */
    margin: 0 0 16px 0;
    }
  }
}

// adjust link in post content
.post-content {
  a {
    color: $postman-orange;
    &:hover {
      color: $postman-orange;
    }
  }
  li {
    a {
      color: $postman-orange;
    }
  }
}