@import '../components/Shared/variables';

// comments form styling
.just-comments.myTheme {
  --primary-button-bg-color: #FF6C37;
  --primary-color: #FF6C37;
}

.post-body-container {
  // Giving h2's the h3 styling from _layout.scss
  max-width: 740px;
  margin: 0 auto;
}

// adjust link in post content
.post-content {
  a {
    color: $postman-orange;
    &:hover {
      color: $postman-orange;
    }
  }
  li {
    a {
      color: $postman-orange;
    }
  }
}