@import './_variables.scss';

.blog-header-wrapper {
  padding-top: 40px;
  border-bottom: 2px solid $gray-1;
  margin-bottom: 40px;
  background-color: #F5F8fb;
  border-bottom: 1px solid rgb(231, 237, 244);
  @media(min-width:769px) {
    padding-top: 80px;
  }
}

.blog-header {
  a {
    color: $gray-3;
    &:hover {
      color: $gray-3;
    }
  }
}

.blog-header-title {
  padding-right: 104px !important;
  // padding-left: 42px !important;
}

.blog-header-entry {
  justify-content: flex-end!important;
  .entry-meta-data {
    @media(min-width:1200px) {
    padding-left: 15px !important;
    }
  }
}
.blog-tags {
  display: flex;
  justify-content: flex-end;
  
}

div.col-sm-4.text-right, div.col-lg-4.text-right, div.col-lg-7 {
  padding-right: 0px !important;
}

.pm-breadcrumb {
  font-size: 0.875rem;
  color: $gray-2;
  a {
    color: $gray-2;
    &:hover {
      color: $postman-orange;
    }
  }
}