@import './_variables.scss';

.entry-meta {
  color: $gray-2;
  margin-bottom: 8px;
}
.entry-meta-col {
  & span {
    margin-right: 8px;
  }
  a {
    &:link,
    &:visited {
      color: $gray-2;
    }
    &:hover,
    &:active {
      color: $postman-orange !important;
    }
  }
}

.entry-meta-img {
  border-radius: 50%;
  max-width: 32px;
  height: auto;
  margin-bottom: 0;
}
