@import './_variables.scss';

.entry-meta {
  color: $gray-2;
}

.entry-meta-data {
  a {
    color: $gray-2;
    &:hover {
      color: $postman-orange;
    }
  }
  @media(min-width:1200px) {
    padding-left: 0px !important;
  }
  @media (max-width: 411px){
    padding-left: 32px !important;
  }
}

.entry-meta-col {
  padding-right: 0px;
}

.entry-meta-img {
  border-radius: 50%;
  max-width: 32px;
  height: auto;
}
