@import './_variables.scss';

.hero-results__container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 120px 0;
  h1 {
    text-align: center;
  }
}