@import './_variables.scss';

.header-wrapper {
  border-bottom: 2px solid $gray-1;
  padding: 40px;
  margin-top: 8px;
}

.feature-image {
  img {
    padding-top: 32px;

    @media (min-width: 1199px) {
    width: 250px;
    height: auto;
    padding-top: 16px;
    }
  }
}