@import './_variables.scss';

.tags-wrapper {
  color: $gray-2;
  a {
    color: $gray-2;
  }
}

.tags {
  border-radius: 20px;
  display: inline-block;
  padding: 8px;
  margin: 0px 4px;
  border: 1px solid $gray-2;

  font-size: 12px;
  
    &:hover {
    color: $white !important;
    background-color: $gray-2;
    text-decoration: none;
  }

}
