@import './Shared/_variables.scss';

// Footer has font Open Sans
* {
  font-family: 'Roboto';
}

.layout-wrapper {
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-size: 48px !important;
  line-height: 1.2083333333 !important;
  color: $gray-3;
}

h2 {
  font-size: 38px !important;
  line-height: 1.2631578947 !important;
}

h3 {
  font-size: 30px !important;
  line-height: 1.2666666667 !important;
}

p {
  a {
      height: 24px; // allows the shadow line to shrink to the designed location   
      font-size: 16px;
      font-weight: 700;
      background-image: linear-gradient(180deg, transparent 50%, $bright-orange 0);
      padding-right: 4px;
      padding-bottom: 2px;
      background-position-y: 2px;
      background-position-x: 4px;
      background-repeat: no-repeat;
      text-decoration: none;
      transition: .15s ease;
      color: $gray-3;
  
      &:hover {
        // height: 1px;
        color: $gray_3;
        background-position: top 8px right -4px;
        padding-right: 4px;
        padding-bottom: 2px;
        background-image: linear-gradient(180deg, transparent 60%, rgba(249, 157, 120, 1) 0);
        text-decoration: none;
      }
  
      &.alternative {
        color: $white;
      }
  
      &.alternative:hover {
        color: $white;
      }
   }
};

.screen-reader-text {
  display: none;
}

.post {
  margin: 120px 0px;
}

div.col-sm-7.doc-page {
  padding: 64px 72px;
}
