@import './Shared/_variables.scss';

// Footer has font Open Sans
* {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}
.list-wrapper {
  margin: 40px 16px;
  @media (min-width: 992px) {
    margin: 80px 16px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif;
  font-weight: 500; /* explicit for Roboto's medium */
}

.h1,
h1 {
  font-size: 30px !important;
  line-height: 1.2222222222; /* 44px */
  margin: 0 0 24px 0;
  color: $gray-3;
  @media (min-width: 769px) {
    font-size: 48px !important;
    line-height: 1.1666666667; /* 56 px */
    margin: 0 0 32px 0;
  }
}

.h2, 
h2 {
  font-size: 24px !important;
  line-height: 1.1666666667; /* 28px */
  margin: 0 0 8px 0;
  @media (min-width: 769px) {
    font-size: 36px !important;
    line-height: 1.2222222222; /* 44px */
    margin: 0 0 24px 0;
  }
}

.h3,
h3 {
  font-size: 24px !important;
  line-height: 1.1666666667; /* 28px */
  margin: 0 0 8px 0;
  @media (min-width: 769px) {
    font-size: 36px !important;
    line-height: 1.2222222222; /* 44px */
    margin: 0 0 24px 0;
  }
}

.h4,
h4 {
  font-size: 20px !important;
  line-height: 1.1666666667; /* 28px */
  margin: 0 0 8px 0;
  @media (min-width: 769px) {
    font-size: 24px !important;
    line-height: 1.1666666667; /* 28px */
    margin: 0 0 8px 0;
  }
}

.v5-link {
  a {
      height: 24px; // allows the shadow line to shrink to the designed location   
      font-size: 16px;
      font-weight: 700;
      background-image: linear-gradient(180deg, transparent 50%, $bright-orange 0);
      padding-right: 4px;
      padding-bottom: 2px;
      background-position-y: 2px;
      background-position-x: 4px;
      background-repeat: no-repeat;
      text-decoration: none;
      transition: .15s ease;
      color: $gray-3;
  
      &:hover {
        color: $gray_3;
        background-position: top 8px right -4px;
        padding-right: 4px;
        padding-bottom: 2px;
        background-image: linear-gradient(180deg, transparent 60%, rgba(249, 157, 120, 0.5) 0);
        text-decoration: none;
      }
  
      &.alternative {
        color: $white;
      }
  
      &.alternative:hover {
        color: $white;
      }
   }
};

.more-link-wrap {
  .screen-reader-text {
    display: none;
  }
  @media (max-width: 990px) {
    padding-bottom: 24px;
    
  }
  a {
    height: 24px; // allows the shadow line to shrink to the designed location   
    font-size: 16px;
    font-weight: 700;
    background-image: linear-gradient(180deg, transparent 50%, $blog-orange 0);
    padding-right: 4px;
    padding-bottom: 2px;
    background-position-y: 2px;
    background-position-x: 4px;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: .15s ease;
    color: $gray-3;

    &:hover {
      color: $gray_3;
      background-position: top 8px right -4px;
      padding-right: 4px;
      padding-bottom: 2px;
      background-image: linear-gradient(180deg, transparent 60%, $blog-orange 0);
      text-decoration: none;
    }

    &.alternative {
      color: $white;
    }

    &.alternative:hover {
      color: $white;
    }
    
  }
}

.post {
  margin: 0 0 40px 0px;
  a {
    &:hover {
      color: $gray-3;
    }
  }
}

div.col-sm-7.doc-page {
  padding: 64px 72px;
}

p {
  margin-bottom: 16px;
}

.comments {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 48px;
}
.comments__date {
  color: $gray_2;
}
.comment-success {
  border: 1px solid #ced4da;
  padding: 36px;
  border-radius: 0.25rem;
}

pre {
  background-color: $gray_1;
  border-radius: 2px;
  padding: 16px;
  white-space: pre-wrap; 
  color: $gray-3; 
  font-family: monospace !important;
  line-height: 1.2rem;
  font-size: 100% !important;
  code {
    background: none;
  }
}
code {
  font-size: 87.5% !important;
  color: $gray_3 !important;
  word-break: break-word;
  background-color: $gray_1 !important;
  border-radius: 2px !important;
  padding: 4px !important;
  font-family: monospace;
}

.comments__approved, .comments__answers {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 32px;
  a, a:hover {
    color: $postman-orange;
  }
}

// Bootstrap container width overrides
@media (max-width: 1199px) {
  .container {
      max-width: 100% !important;
      width: 100% !important;
  }
}
