@import '../Shared/_variables.scss';

.search-input {
  border: 0;
  padding: 13px 24px;
  border-radius: 3px;
  background-color: rgba(28, 39, 43, 0.05);
  font-size: 14px;
  font-weight: 600;
  width: 500px;
}

ais-highlight-0000000000 {
  color: #02739D;
  background-color: $light-blue;
}

.input-empty {
  display: none;
}

.wrapper-search-results {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.11);
  position: absolute;
  z-index: 3;
  background-color: white;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  padding: 24px 9px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: -24px;
  @media (max-width: 1200px) {
    margin-top: -13px;
  }
  
  display: flex;
  text-align: left;
  max-width: 600px;
  // min-width: 600px;
  // @media (max-width: 599px) {
  //   min-width: 100%;
  // }
  top: 90px;
  @media (max-width: 1200px) {
    top:136px;
  }
  ul {
    margin-left: 0;
  }
}
// .results-blog .input-value,
// .results-lc .input-value {
//   border-right: 1px solid #d9d9d9;
//   border-left: 1px solid #d9d9d9;
// }
// .results-blog .input-value {
//   border-top: 1px solid #d9d9d9;
// }
// .results-lc .input-value {
//   border-bottom: 1px solid #d9d9d9;
// }
// .results-blog,
// .results-lc {
//   border-right: 1px solid #d9d9d9;
//   border-left: 1px solid #d9d9d9;
// }
.results-blog {
  & ul {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 16px;
  }
}
.results-lc {
  // padding-top: 24px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.style {
  list-style: none;
  padding-top: 20px;
  a {
    color: #757575;
  }
  a:hover {
    color: #fe6c37;
    text-decoration: none;
  }
}

.search-title {
  font-weight: 700;
}

.ais-SearchBox-form {
    margin-bottom: 0px;
    flex-grow: 2;
  }

.ais-SearchBox-submit {
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}

.ais-SearchBox-reset {
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}

.header__brand {
  min-width: 330px;

  @media (max-width: 411px) {
    min-width: 0px;
  }
}

.header__search {
  width: 100%;
  padding: 0 16px;
  .ais-InstantSearch__root {
    width: 100%;
  }
}

